{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}
{% block body %}
{% if articles %}
<table id="articles" class="table table-striped">
<thead>
<tr>
<th>Nom</th>
<th>Prix</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for article in articles %}
<tr>
<td>{{ article.nom }}</td>
<td>{{ article.prix }}</td>
 <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-dark">Voir</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-dark">Modifier</a>
                    <form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Aucun articles</p>
{% endif %}
 <a href="{{ path('app_article_new') }}" class="btn btn-dark">Créer un nouvel article</a>
{% endblock %}

