{% extends 'base.html.twig' %}

{% block title %}Créer un Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel Article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_article_index') }}">Retour à la liste</a>
{% endblock %}